##Домашнее задание «Библиотека pandas»

##Задание 1

Датасет для домашнего задания вы найдете в разделе “Материалы к домашнему заданию” (файл “Дополнительные файлы для домашнего задания”) к этому занятию.
Определите, какому фильму было выставлено больше всего оценок 5.0.

In [58]:
import pandas as pd

data = pd.read_csv('/home/galchonkov/netology/pyda_homeworks/ratings.csv')
most_frequent_value = data['movieId'].mode().iloc[0]
result = data[ (data['movieId'] == most_frequent_value) & (data['rating'] == 5.0) ]

result.head(1)

     userId  movieId  rating  timestamp
725       6      356     5.0  845553200

##Задание 2

По данным файла power.csv (находится в архиве в разделе Материалы к лекции «Библиотека Pandas» - файл “Дополнительные файлы для домашнего задания”) посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [94]:
import pandas as pd
data = pd.read_csv('/home/galchonkov/netology/pyda_homeworks/power.csv')

data_year = data[data['year'].between(2005,2010)]
#data_categ = data [ (data['category'] == 4) | (data['category'] == 12) | (data['category'] == 21) ]
data_categ = data[data['category'].isin([4, 12, 21])]
#data_prib = data [ (data['country'] == 'Latvia') | (data['country'] == 'Lithuania') | (data['country'] == 'Estonia') ]
data_prib = data[data['country'].isin(['Latvia', 'Lithuania', 'Estonia'])]
result = data[(data['country'].isin(data_prib['country'])) & (data['category'].isin(data_categ['category'])) & (data['year'].isin(data_year['year'])) ]
result.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4

##Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.

Пример страницs:

https://fortrader.org/quotes;

In [143]:
import pandas as pd

df = pd.read_html('https://alexiej.github.io/python/')[0]

df[:5]

type(df)

pandas.core.frame.DataFrame